{% extends 'layout.html' %}

{% block content %}

<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card card-dashboard mx-auto">
      <a href="{{ url_for('flapapp') }}" class="stretched-link"></a>
      <div class="card-body">
        <div class="row">
          <div class="col text-center py-4">
            <i class="fas fa-file-csv fa-5x text-success-new" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row no-gutters align-items-center">
          <div class="col-12">
            <h6 class="text-primary-new text-uppercase text-center font-weight-bold card-title mb-1">DFDR Data Parser</h6>
          </div>
          <div class="col-12">
            <p class="card-text text-center">
              Id proident minim voluptate veniam non voluptate. Ut laborum aliquip pariatur laboris aliqua aute aute qui incididunt pariatur tempor anim. Et dolor qui anim enim.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- Dfdr Data Parser -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card card-dashboard mx-auto">
      <a href="{{ url_for('flapapp') }}" class="stretched-link"></a>
      <div class="card-body">
        <div class="row">
          <div class="col text-center py-4">
            <i class="fas fa-thermometer-full fa-5x text-black-30" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row no-gutters align-items-center">
          <div class="col-12">
            <h6 class="text-primary-new text-uppercase text-center font-weight-bold card-title mb-1">Flap Asymmetry</h6>
          </div>
          <div class="col-12">
            <p class="card-text text-center">
              Id proident minim voluptate veniam non voluptate. Ut laborum aliquip pariatur laboris aliqua aute aute qui incididunt pariatur tempor anim. Et dolor qui anim enim.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- Flap Asymmetry Card -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card card-dashboard mx-auto">
      <a href="{{ url_for('flapapp') }}" class="stretched-link"></a>
      <div class="card-body">
        <div class="row">
          <div class="col text-center py-4">
            <i class="fas fa-compass fa-5x text-black-30" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row no-gutters align-items-center">
          <div class="col-12">
            <h6 class="text-primary-new text-uppercase text-center font-weight-bold card-title mb-1">Stabilizer Trim</h6>
          </div>
          <div class="col-12">
            <p class="card-text text-center">
              Id proident minim voluptate veniam non voluptate. Ut laborum aliquip pariatur laboris aliqua aute aute qui incididunt pariatur tempor anim. Et dolor qui anim enim.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- Stab Trim Card -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card card-dashboard mx-auto">
      <a href="{{ url_for('flapapp') }}" class="stretched-link"></a>
      <div class="card-body">
        <div class="row">
          <div class="col text-center py-4">
            <i class="fas fa-wind fa-5x text-black-30" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row no-gutters align-items-center">
          <div class="col-12">
            <h6 class="text-primary-new text-uppercase text-center font-weight-bold card-title mb-1">Bleed Monitoring</h6>
          </div>
          <div class="col-12">
            <p class="card-text text-center">
              Id proident minim voluptate veniam non voluptate. Ut laborum aliquip pariatur laboris aliqua aute aute qui incididunt pariatur tempor anim. Et dolor qui anim enim.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- Bleed Monitoring Card -->
</div> <!-- Application Cards -->

<div class="row">
  <div class="col-lg-12 col-xl-7 mb-4">
    <div class="card">
      <div class="card-header">
        <h6 class="font-weight-bold text-primary-new m-0">{{ plotTitle }}</h6>
      </div>
      <div class="card-body">
        {{ div | safe }}
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xl-5 mb-4">
    <div class="card">
      <div class="card-header">
        <h6 class="font-weight-bold text-primary-new m-0">Plot Title</h6>
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
{% endblock %}