{% extends 'layout.html' %}

{% block content %}

<div class="row">
  <div class="col-lg-12 col-xl-7 mb-4">
    <form action="{{ url_for('raw') }}" method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="form-group">
        <div class="input-group">
          <div class="custom-file">
            {% if form.file.errors %}
            {{ form.file(class='custom-file-input is-invalid', accept='.xls,.xlsx,.txt,.csv') }}
            <div class="invalid-feedback">
              {% for error in form.file.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div><!-- Invalid file upload error message -->
            {% else %}
            {{ form.file(class='custom-file-input', accept='.xls,.xlsx,.txt,.csv') }}
            {% endif %}
            {{ form.file.label(class='custom-file-label') }}
          </div>
          <div class="input-group-append">
            {{ form.submit(class="btn btn-success-new") }}
          </div>  
        </div>
      </div>
    </form> <!-- Upload Raw .csv Form -->
  </div>
  <div class="col-lg-12 col-xl-5 mb-4 border-left-light">
    <div class="card text-white bg-light">
      <img class="card-img-top" src="holder.js/100px180/" alt="">
      <div class="card-body">
        <form action="{{ url_for('launchEDA') }}" method="post">
          {{ form_EDA.csrf_token }}
          <div class="form-group">
            {% if edaLaunchable %}
            {{ form_EDA.submit(class="btn btn-primary-new") }}
            {% else %}
            {{ form_EDA.submit(class="btn btn-primary-new", disabled="") }}
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-xl-7 mb-4">
    <div class="card">
      <div class="card-header">
        <h6 class="font-weight-bold text-primary-new m-0">{{ plotTitle }}</h6>
      </div>
      <div class="card-body">
        {{ div | safe }}
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xl-5 mb-4 border-left-light d-none d-xl-block">
    <blockquote class="blockquote">
      <p class="mb-0">Esse sint culpa cupidatat fugiat duis magna magna non. Dolor non officia non excepteur minim
        nostrud culpa quis ipsum aliquip fugiat commodo tempor. Et amet minim tempor cupidatat quis reprehenderit cillum
        qui.</p>
      <footer class="blockquote-footer"> <cite title="Figure Text">Figure Text</cite></footer>
    </blockquote>
  </div>
</div>


{{ script | safe }}
{% endblock %}