{% extends "base.html" %}

{% block content %}

<div id="introHeader" class="container-fluid">
  <div class="row mx-auto text-center justify-content-center">
    <h1 class="display-4">Welcome to Engineering Toolbox</h1>
  </div>
  <div class="row justify-content-center">
    <p class="lead text-center">
      Engineering toolbox is where you find , unravel, and explore possibilities <br> to expand your horrizon
    </p>
  </div>
</div> <!-- Intro header -->

<div id="authCard" class="row justify-content-center mx-auto">
  <div class="card text-white bg-light">
    <div class="card-body">
      <h4 class="card-title">Register</h4>
      <form action="" method="POST">
        <div class="form-group">
          {{ form.username.label(class="form-control-label") }}

          {% if form.username.errors %}
          {{ form.username(class="form-control is-invalid") }}

          <div class="invalid-feedback">
            {% for error in form.username.errors %}
            <span> {{ error }} </span>
            {% endfor %}
          </div>
          <!-- Check if the username field has any errors, then loop through the errors to indicate what the error is (aka username form validation) -->
          {% else %}

          {{ form.username(class="form-control") }}

          {% endif %}
        </div>
        <div class="form-group">
          {{ form.email.label(class="form-control-label") }}

          {% if form.email.errors %}
          {{ form.email(class="form-control is-invalid") }}

          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span> {{ error }} </span>
            {% endfor %}
          </div>

          {% else %}

          {{ form.email(class="form-control") }}
          <!-- email field validation -->
          {% endif %}
          <small id="emailHelpId" class="form-text text-muted">Use your corporate email.</small>
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-control-label") }}

          {% if form.password.errors %}
          {{ form.password(class="form-control is-invalid") }}

          <div class="invalid-feedback">
            {% for error in form.password.errors %}
            <span> {{ error }} </span>
            {% endfor %}
          </div>
          {% else %}

          {{ form.password(class="form-control") }}

          {% endif %}
        </div>
        <div class="form-group">
          {{ form.confirm_password.label(class="form-control-label") }}

          {% if form.confirm_password.errors %}
          {{ form.confirm_password(class="form-control is-invalid") }}

          <div class="invalid-feedback">
            {% for error in form.confirm_password.errors %}
            <span> {{ error }} </span>
            {% endfor %}
          </div>

          {% else %}

          {{ form.confirm_password(class="form-control") }}

          {% endif %}
        </div>
        <div class="form-group text-center">
          {{ form.submit(class="btn") }}
        </div>
      </form>
      <div class="border-top pt-2 mt-3">
        <small class="text-muted">
          Already have an account? <a href="{{ url_for('login') }}" class="ml-1">Login!</a>
        </small>
      </div>
    </div>
  </div>
</div> <!-- Sign in card -->
{% endblock %}