{% extends "base.html" %}

{% block content %}

<div id="introHeader" class="row d-flex flex-column">
  <div class="col">
    <h1 class="display-4 text-center">Welcome to Engineering Toolbox</h1>
  </div>
  <div class="col">
    <p class="lead text-center">
      Engineering toolbox is where you find , unravel, and explore possibilities <br> to expand your horrizon
    </p>
  </div>
</div> <!-- Intro header -->

<div id="authCard" class="row justify-content-center mx-auto">
  <div class="card text-white bg-light">
    <div class="card-body">
      <h4 class="card-title">Register</h4>
      <form action="" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
          {% if form.username.errors %}
          {{ form.username(class="form-control shadow-none is-invalid") }}

          <div class="invalid-feedback">
            {% for error in form.username.errors %}
            <span> {{ error }} </span>
            {% endfor %}
          </div>
          <!-- Check if the username field has any errors, then loop through the errors to indicate what the error is (aka username form validation) -->
          {% else %}

          {{ form.username(class="form-control shadow-none") }}

          {% endif %}
          <label for="username" class="form-control-label">
            <span class="label-text">{{ form.username.label.text }}</span>
          </label>
        </div>
        <div class="form-group">
          {% if form.email.errors %}
          {{ form.email(class="form-control shadow-none is-invalid") }}

          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span> {{ error }} </span>
            {% endfor %}
          </div>

          {% else %}

          {{ form.email(class="form-control shadow-none") }}
          <small id="emailHelpId" class="form-text text-muted">Use your corporate email.</small>
          <!-- email field validation -->
          {% endif %}
          <label for="email" class="form-control-label">
            <span class="label-text">{{ form.email.label.text }}</span>
          </label>
          
        </div>
        <div class="form-group">
          {% if form.password.errors %}
          {{ form.password(class="form-control shadow-none is-invalid") }}

          <div class="invalid-feedback">
            {% for error in form.password.errors %}
            <span> {{ error }} </span>
            {% endfor %}
          </div>
          {% else %}

          {{ form.password(class="form-control shadow-none") }}

          {% endif %}
          <label for="password" class="form-control-label">
            <span class="label-text">{{ form.password.label.text }}</span>
          </label>
        </div>
        <div class="form-group">
          {% if form.confirm_password.errors %}
          {{ form.confirm_password(class="form-control shadow-none is-invalid") }}

          <div class="invalid-feedback">
            {% for error in form.confirm_password.errors %}
            <span> {{ error }} </span>
            {% endfor %}
          </div>

          {% else %}

          {{ form.confirm_password(class="form-control shadow-none") }}

          {% endif %}
          <label for="confirm_password" class="form-control-label">
            <span class="label-text">{{ form.confirm_password.label.text }}</span>
          </label>
        </div>
        <div class="form-group text-center">
          {{ form.submit(class="btn") }}
        </div>
      </form>
      <div class="border-top pt-2 mt-3">
        <small class="text-muted">
          Already have an account? <a href="{{ url_for('login') }}" class="ml-1">Login!</a>
        </small>
      </div>
    </div>
  </div>
</div> <!-- Register card -->
{% endblock %}